mat-sidenav-container{
    height: 100%;
}
mat-sidenav{
    width:20%;
}
.log_out{
    justify-content: right;
}
.container{
    height: 100%;
}
a{
    color:#a8dadc;
}
mat-toolbar{
    background-color: #1d3557;
    color:white;
}
.my-snack-bar button {
    background-color: gray;
    color: white;
}
.header{
  margin-bottom: 7.5%;
}
.username-display{
  font-family: Calibri;
  margin-left: 5%;
}
.mat-card-avatar {
    margin-left: 10%;
    margin-top: 5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
@media screen and (max-width: 480px) {
    mat-sidenav{
        width:80%;
    }
}
.link-profile{
  text-decoration: none;
  color: #000a12;
}
