
<div class="card wrapper col col-sm-12 mt-2">
    <div class="row">
        
        <div class="category card col col-sm-4" (click)="redirectTo('Grocery')" style="color: #42a5f5;">
            <i class="fas fa-shopping-basket fa-2x myIcon"></i>
            <p>Grocery</p>
        </div>
        
        <div class="category card col col-sm-4" (click)="redirectTo('House')" style="color: #69f0ae;">
            <i class="fas fa-home fa-2x myIcon"></i>
            <p>House</p>
        </div>
        <div class="category card col col-sm-4" (click)="redirectTo('Entertainment')" style="color: #4caf50;">
            <i class="fas fa-cocktail fa-2x myIcon"></i>
            <p style="font-size: small;">Entertainment</p>
        </div>
    </div>
    <div class="row">
        <div class="category card col col-sm-4" (click)="redirectTo('Car')" style="color: #ffb74d;">
            <i class="fas fa-taxi fa-2x myIcon"></i>
            <p>Car</p>
        </div>
        <div class="category card col col-sm-4" (click)="redirectTo('Health')" style="color: #ff5252;">
            <i class="fas fa-heartbeat fa-2x myIcon"></i>
            <p>Health</p>
        </div>
        <div class="category card col col-sm-4" (click)="redirectTo('Gifts')" style="color: #5c6bc0;">
            <i class="fas fa-gift fa-2x myIcon"></i>
            <p>Gift</p>
        </div>
    </div>
    <div class="row">
        <div class="category bottom card col col-sm-4" (click)="redirectTo('EatingOut')" style="color: #ff7043;">
            <i class="fas fa-utensils fa-2x myIcon"></i>
            <p>Eating Out</p>
        </div>
        <div class="category bottom card col col-sm-4" (click)="redirectTo('Bills')" style="color: #26a69a;">
            <i class="fas fa-file-invoice-dollar fa-2x myIcon"></i>
            <p>Bills</p>
        </div>
        <div class="category bottom card col col-sm-4" (click)="redirectTo('Transport')" style="color: #fdd835;">
            <i class="fas fa-subway fa-2x myIcon"></i>
            <p>Transport</p>
        </div>
    </div>
</div>
