mat-card-content,mat-card-actions{
    text-align: center;
}
.myLink{
    text-align: left;
}
mat-toolbar{
    background-color: #1d3557;
    color:white;
}
.submit{
    background-color: #1d3557;
    color:white;
    width: 50%;
    border-radius: 40em;
}
.logIn{
    background-color: white;
    color: #1d3557;
    width: 25%;
    border-radius: 40em;
}
.passWarning{
    color: #e63946;
    font-size: smaller;
}
